#flying_bee.col.s12.card.height_600.waves-block.waves-light.gray_border.z-depth-5
  - @game.bees.each_with_index do |b, i|
    %span.flying_bee{id: "div_#{i}", name: "#{b.id}", class: "#{(b.progressbar(b.category) < 0.0) ? 'hidden' : ''}"}
      = image_tag("#{b.category}bee.gif", style: 'width: 80px')
      %b.green-text
      .progress{style: 'width: 80px'}
        .determinate{style: "width: #{b.progressbar(b.category)}%", id: "prog_#{b.id}"}

:javascript

  $(function(){

    function win(){
      $('.flying_bee').css("display", "none")
      swal({
        title: "Do you want to play again ?",
        text: "You are a hero..play flying bee again!",
        type: "success",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, play it again!",
        cancelButtonText: "No, I am Busy!",
        closeOnConfirm: false,
        closeOnCancel: false
      },
      function(isConfirm){
        if (isConfirm) {
          swal("We are rebuilding", "Please wait...", "success");
          $.get("/rebuild/#{@game.id}", function(data, status, content){
            document.location.href = "/flying_bee/#{@game.id}"
          })
        } else {
          document.location.href = "/"
        }
      });
    }
    $(".flying_bee").click(function(){
      var id = this.getAttribute('name')
      var attr_id = this.id
      $.get("/game/#{@game.id}/hitme/"+id, function(data, status, content){
        $("#"+data.id).css("width", data.progress)
        if(data.is_queen_died == true){
          console.log("all died")
          win()
        }
        if(data.is_died == true){
          $("#"+attr_id).css("display", "none")
        }
        if(data.is_all_died == true){
          win()
        }
      });
    });
    function pagestart(){
      div_0=new Chip("div_0",47,68);
      div_1=new Chip("div_1",47,68);
      div_2=new Chip("div_2",47,68);
      div_3=new Chip("div_3",47,68);
      div_4=new Chip("div_4",47,68);
      div_5=new Chip("div_5",47,68);
      div_6=new Chip("div_6",47,68);
      div_7=new Chip("div_7",47,68);
      div_8=new Chip("div_8",47,68);
      div_9=new Chip("div_9",47,68);
      div_10=new Chip("div_10",47,68);
      div_11=new Chip("div_11",47,68);
      div_12=new Chip("div_12",47,68);
      div_13=new Chip("div_13",47,68);
      movechip("div_0");
      movechip("div_1");
      movechip("div_2");
      movechip("div_3");
      movechip("div_4");
      movechip("div_5");
      movechip("div_6");
      movechip("div_7");
      movechip("div_8");
      movechip("div_9");
      movechip("div_10");
      movechip("div_11");
      movechip("div_12");
      movechip("div_13");

    }

    if (window.addEventListener)
    window.addEventListener("load", pagestart, false)
    else if (window.attachEvent)
    window.attachEvent("onload", pagestart)
    else if (document.getElementById)
    window.onload=pagestart
  });
:css
  body, img:hover {cursor: url(http://cur.cursors-4u.net/others/oth-7/oth659.ani), url(http://cur.cursors-4u.net/others/oth-7/oth659.png), progress !important;}
