#index-banner.section.no-pad-bot
  .container
    %br/
    %br/
    .row
      .col-md-6
        %h1.header.center.orange-text
          = image_tag('3D-Bee1.png', width: '180px')
          %b.green-text
            Flying
          %span.red-text
            Bee
    .row.center
      = form_for @game, url: '/play' do |f|
        - if @game.errors.any?
          #error_explanation
            %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
            %ul
              - @game.errors.full_messages.each do |msg|
                %li= msg
        .input-field.col.s12
          = f.text_field :name, required: :true, style: 'color: red; font-size: 32px; text-align: center'
          %label{:for => "name"} Name

        .col.s12
          %h5.header.col.s12.light You can't win
        .col.s12
          = f.submit 'Get Started', class: 'btn btn-large waves-effect waves-light orange'


    %br/
    %br/
:javascript
  $(function(){
    $('body').css('background-color', 'black');
    $.firefly();
  })
